<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>341275573777-p900e1jk8f3c3of23nb0e8a9sfq6n6v9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.341275573777-p900e1jk8f3c3of23nb0e8a9sfq6n6v9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>341275573777-jho0a19rhutignp8s70tnarc26m9s8mc.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDelW1cE3TtC-r4-gnBv-r3mzxz_w1-hAg</string>
	<key>GCM_SENDER_ID</key>
	<string>341275573777</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.moneytime.moneyTime</string>
	<key>PROJECT_ID</key>
	<string>money-time-app</string>
	<key>STORAGE_BUCKET</key>
	<string>money-time-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:341275573777:ios:7844d6bbff02493e703bb0</string>
</dict>
</plist>